/**{
	padding: 10px;
	margin: 10px;
	border: 2px solid red;
}*/

body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;
}

th{
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table, th, td{
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}

.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
}

.background{
	background-image: url('../images/backgraund3.jpeg');
	/*background-position: center;*/
	background-size: cover;
	/*background-repeat: no-repeat;*/
}

.button{
	border-radius: 5px;
	border: none;
	background: #fd324e;
	color: white;
	text-decoration: none;	
	padding: 7px;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 180px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.paquetes{
	color: #1F313C;
	margin-top: 90px;
	margin-bottom: 60px;
}

.paquetes h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.portada {
	color: #bcbfc1;
	padding: 20px;
	height: 850px;
}

.portada button{
	margin-bottom: 70px;
}

.header{
	position: relative;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 50px;
}

.menu li:before{
	content: '°';
	font-size: 20px;
	line-height: 20px;
	color: white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}

.contenedor-paquete-1{
	margin-right: 370px;
	padding-left: 20px;
}

.contenedor-paquete-2{
	margin-left: 370px;
	padding-right: 20px;
	position: relative;
	bottom: 90px;
}

.paquete1{
	margin: 10px 10px 50px 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px	solid #1F313C;
	border-radius: 10px;
}

.paquete1 ol{
	padding: 0;
}

.paquete1.b{
	height: 190px;
}

.derecha{
	float: right;
	position: relative;
	top: -107px;
}

.derecha-b{
	float: right;
	position: relative;
	top: -60px;
}

.izquierda{
	float: left;
	position: relative;
	margin-top: -60px;
}

.footer{
	background: #686f7f;
	padding: 50px 10px;	
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px;
}

.intereses label{
	font-size: 12px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0px;
}